extends ./com.pug  
block content
    h1(class="ml-4") Trang chủ 
    hr
    div(class="card ml-4 " style="width: 18rem;")
      a(href="/books" class="btn btn-success") Quản lý sách của bạn
      br 
      a(href="/user" class="btn btn-warning ") Quản lý người thuê
      br
      a(href="/transaction" class="btn btn-info ") Quản lý sách đã thuê	