h1 Cập nhật 
form( method="POST")
    input(type="text" name="title"  placeholder="nhập title mới" value= todo.title )
    br
    textarea(type="text" name="des" style="width:250px; height:250px;")= todo.des
    br
    button cập nhật