extends ./com.pug  
block content
	h1 add người thuê sách
	if errors
		each error in errors
			.alert.alert-danger= error
	form(action="/user/add" method="POST" style="display:flex; flex-direction:column; width:500px; height:auto; gap: 12px;")
		input(type="text" name="name" placeholder="tên" value= values ? values.name : '')
		input(type="text" name="age" placeholder="độ tuổi" value= values ? values.age : '')
		button(type="submit") Thêm